<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="IsDeployed" value="False" />
  </appSettings>
  <connectionStrings>
    <!--<add name="ODPConnection" connectionString="DATA SOURCE=hrmsuat;PERSIST SECURITY INFO=True;USER ID=HRVNP2" providerName="Oracle.DataAccess.Client"/>-->
    <!--<add name="ODPConnection" connectionString="DATA SOURCE=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=172.21.1.4)(PORT=1521))(CONNECT_DATA=(SERVER=dedicated)(SERVICE_NAME=CPV02UAT)));PASSWORD=cpv#0001;PERSIST SECURITY INFO=True;USER ID=HRVNP2" providerName="Oracle.DataAccess.Client"/>-->
    <add name="ODPConnection" connectionString="DATA SOURCE=hrmsuat;PERSIST SECURITY INFO=True;USER ID=HRVNP2" providerName="Oracle.DataAccess.Client" />
    <!--<add name="ODPConnection" connectionString="DATA SOURCE=CPV02UAT;PASSWORD=cpv#0001;PERSIST SECURITY INFO=True;USER ID=HRVNP2" providerName="Oracle.DataAccess.Client"/>-->
    <!--<add name="ODPConnection" connectionString="DATA SOURCE=DEVCPF02;PASSWORD=adminhr1110;PERSIST SECURITY INFO=True;USER ID=HRVNP2" providerName="Oracle.DataAccess.Client"/>-->

    <!--<add name="ODPConnection" connectionString="DATA SOURCE=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=vip-pluto)(PORT=1521))(ADDRESS=(PROTOCOL=TCP)(HOST=vip-mercury)(PORT=1521)))(CONNECT_DATA=(SERVER=dedicated)(SERVICE_NAME=HRMSUAT)));Pooling=true;Statement Cache Size=1;Min Pool Size=3;Connection Lifetime=60;Connection Timeout=60;Incr Pool Size=1; Decr Pool Size=2;PASSWORD=hrdevuat;PERSIST SECURITY INFO=True;USER ID=HRDEV" providerName="Oracle.DataAccess.Client"/>-->
    <!--<add name="ODPConnection" connectionString="DATA SOURCE=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=vip-pluto)(PORT=1521))(ADDRESS=(PROTOCOL=TCP)(HOST=vip-mercury)(PORT=1521)))(CONNECT_DATA=(SERVER=dedicated)(SERVICE_NAME=HRMSUAT)));Pooling=true;Statement Cache Size=1;Min Pool Size=3;Connection Lifetime=60;Connection Timeout=60;Incr Pool Size=1; Decr Pool Size=2;PASSWORD=hrchiataiuat;PERSIST SECURITY INFO=True;USER ID=CHIATAI" providerName="Oracle.DataAccess.Client"/>-->
    <!--<add name="ODPConnection" connectionString="DATA SOURCE=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=vip-pluto)(PORT=1521))(ADDRESS=(PROTOCOL=TCP)(HOST=vip-mercury)(PORT=1521)))(CONNECT_DATA=(SERVER=dedicated)(SERVICE_NAME=HRMSUAT)));Pooling=true;Statement Cache Size=1;Min Pool Size=3;Connection Lifetime=60;Connection Timeout=60;Incr Pool Size=1; Decr Pool Size=2;PASSWORD=hrsiamld#uat;PERSIST SECURITY INFO=True;USER ID=SIAMLAND" providerName="Oracle.DataAccess.Client"/>-->
    <!--<add name="ODPConnection" connectionString="DATA SOURCE=HRMSUAT;PASSWORD=pcguathr#2556;PERSIST SECURITY INFO=True;USER ID=PCG" providerName="Oracle.DataAccess.Client"/>-->
    <!--<add name="ODPConnection" connectionString="DATA SOURCE=DEVCPF02;PASSWORD=sv#devhr59;PERSIST SECURITY INFO=True;USER ID=HROVS" providerName="Oracle.DataAccess.Client"/>-->
    <!--<add name="ODPConnection" connectionString="Data Source=HRMSUAT;User Id=HRCPF;" providerName="Oracle.DataAccess.Client" />-->
    <!--<add name="ODPConnection" connectionString="Data Source=HRMSUAT;User Id=HRVNP2;" providerName="Oracle.DataAccess.Client" />-->
    <!--<add name="ODPConnection" connectionString="Data Source=DEVCPF02;User Id=HRVNP2;" providerName="Oracle.DataAccess.Client" />-->
    <!--<add name="ODPConnection" connectionString="DATA SOURCE=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=poseidon))(PORT=1521))(ADDRESS=(PROTOCOL=TCP)(HOST=poseidon)(PORT=1521)))(CONNECT_DATA=(SERVER=dedicated)(SERVICE_NAME=DEVCPF02)));Pooling=true;Statement Cache Size=1;Min Pool Size=3;Connection Lifetime=60;Connection Timeout=60;Incr Pool Size=1; Decr Pool Size=2;PASSWORD=adminhr1110;PERSIST SECURITY INFO=True;USER ID=hrvnp2" providerName="Oracle.DataAccess.Client"/>-->
  </connectionStrings>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />
  <httpHandlers><add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" /></httpHandlers></system.web>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <customBinding>
        <binding name="SHRM01702Service.SHRM01702Service.customBinding0" receiveTimeout="00:30:00" sendTimeout="00:30:00" openTimeout="00:30:00" closeTimeout="00:30:00">
         <binaryMessageEncoding maxReadPoolSize="2147483647" maxWritePoolSize="2147483647" maxSessionSize="2147483647">
            <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          </binaryMessageEncoding>

          <httpTransport maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" />
        </binding>
        <binding name="SsHrCommon.SsHrCommonService.customBinding0">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
        <binding name="SsAppCommon.SsAppCommonService.customBinding0">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <services>
      <service name="SHRM01702Service.SHRM01702Service">
        <endpoint address="" binding="customBinding" bindingConfiguration="SHRM01702Service.SHRM01702Service.customBinding0" contract="SHRM01702Service.SHRM01702Service" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SsHrCommon.SsHrCommonService">
        <endpoint address="" binding="customBinding" bindingConfiguration="SsHrCommon.SsHrCommonService.customBinding0" contract="SsHrCommon.SsHrCommonService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SsAppCommon.SsAppCommonService">
        <endpoint address="" binding="customBinding" bindingConfiguration="SsAppCommon.SsAppCommonService.customBinding0" contract="SsAppCommon.SsAppCommonService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>


  </system.serviceModel>
<system.webServer><handlers><add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode" /></handlers><validation validateIntegratedModeConfiguration="false" /></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Oracle.DataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.112.2.0" newVersion="2.112.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>